@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

/* -- ======== VARIABLES ======== -- */
/* ----- Dark Theme ----- */
:root {
  --primary-color: hsl(336, 70%, 95%);
  --second-color: hsl(222, 39%, 13%);
  --second-color-alt: hsl(222, 58%, 90%);
  --clr-shadow: hsl(347, 100%, 95%);
  --clr-svg: hsla(346, 100%, 95%, 0.5);
  --clr-shadow-alt: #606060;
  --clr-background: #191e2c;
  --clr-background-alt: hsl(222, 39%, 13%);
  --clr-background-main: hsl(221, 27%, 15%);
  --clr-foreground: hsl(203, 34%, 90%);
  --clr-foreground-alt: hsl(214, 43%, 80%);
  --clr-service-title: hsl(0, 0%, 100%);
  --clr-service-text: hsl(348, 100%, 99%);
  --link-text: #3b63e7;
  --white-background: hsl(224, 25%, 20%);
}

/* ----- Light Theme ----- */
.whitemode {
  --primary-color: #009667;
  --second-color: hsl(346, 100%, 95%);
  --second-color-alt: var(--second-color);
  --clr-shadow: hsl(347, 100%, 95%);
  --clr-svg: hsla(346, 100%, 95%, 1);
  --clr-shadow-alt: #808080;
  --clr-background: #d6d6d6;
  --clr-background-alt: hsl(347, 100%, 97%);
  --clr-background-main: #efefef;
  --clr-foreground: #00563b;
  --clr-foreground-alt: #00402c;
  --clr-service-bg: hsla(305, 52%, 14%, 0.5);
  --link-text: #2140a8;
  --white-background: #FFFFFF;
}


main {
  background-color: var(--clr-background-main);
}



.a-basic {
  color: var(--link-text);
  text-decoration: underline;
}
.a-basic:hover {
  text-decoration: underline;
}
.a-basic:visited {
  color: var(--link-text);
}

.a-bland {
  color: var(--primary-color);
  text-decoration: underline;
}
.a-bland:hover {
  text-decoration: underline;
  font-weight: bold;
}
.a-bland:visited {
  color: var(--primary-color);
}

.thin-border {
  border: 2px solid var(--primary-color);
  border-radius: 30px;
}
.shadowed {
  box-shadow: 4px 4px 5px var(--clr-shadow-alt);
}



/* -- ======== HEADER ======== -- */
#header {
  padding: 1rem 2rem;
  background-color: var(--clr-background-alt);
  color: var(--clr-foreground-alt);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transition: background-color 300ms;
  font-weight: 400;
}
.nav__items {
  display: flex;
  align-items: center;
  list-style: none;
}
.open_close_menu__container {
  display: none;
}
.bx,
.bx-code-curly,
.bx-menu,
.bx-x {
  font-size: 2.5rem;
  color: var(--primary-color);
}
.themecolor {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 300ms;
}
.themecolor:hover {
  transform: rotate(120deg);
}
.bxs-moon {
  font-size: 1.6rem;
  color: hsl(288, 29%, 34%);
  display: none !important;
  pointer-events: none;
}
.bxs-sun {
  color: var(--primary-color);
  font-size: 1.6rem;
  pointer-events: none;
}

.bx-x {
  display: none !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.nav__item a {
  color: var(--primary-color);
  margin: 0 1.5rem;
  letter-spacing: 0.2rem;
  position: relative;
  font-size: 1.4rem;
}
.nav__item a::before {
  content: "";
  background-color: var(--primary-color);
  width: 100%;
  height: 0.1rem;
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transition: transform 150ms ease-in-out;
}
.nav__item a:hover::before {
  transform: scale(1);
}

/* -- ======== MAIN ======== -- */
.bold {
    font-weight: 700;
}
.thin {
    font-weight: 300;
}

.button-landing-page-container {
  align-items: right;
  justify-content: right;
  width: 100%;
}
.button-landing-page {
  width: 50%;
  height: auto;
  font-size: 12px;
  font-family: "Merriweather", serif;
  border-radius: 18px;
  border: none;
  background-color: var(--clr-background);
}

.about-me-container {
  background-color: var(--white-background);
  padding: 3em;
  line-height: 1.5em;
  border-radius: 30px 30px 0px 0px;
  margin-top: -30vh;
  z-index: 3;
  position: relative;
}

/* --- footer --- */
footer {
  background-color: var(--second-color);
  padding: 1rem;
  padding-left: 10%;
}
.copyright span {
  font-size: 1.1rem;
}
.a-footer, .a-footer:visited, .a-footer:link {
  color: var(--primary-color);
  text-decoration: underline;
}


/* -- ======== MEDIA QUERIES ======== -- */

@media screen and (max-width: 768px) {
  .desktop-only {
    display: none !important;
  }
  /* -- ======== HEADER ======== -- */
  #header {
    padding: 1rem;
  }
  .nav__items {
    flex-direction: column;
    align-items: initial;
    list-style: none;
  }
  .navbar {
    z-index: 1;
    background-color: var(--second-color);
    height: 100vh;
    position: absolute;
    inset: 0;
    top: 4rem;
    transform: scale(0);
    transition: transform 300ms ease;
    transform-origin: top;
  }
  .show_navbar {
    transform: scale(1);
  }
  .nav__item a {
    color: var(--clr-foreground-alt);
    margin: 0;
    font-size: 1.9rem;
  }
  .nav__item a::before {
    background-color: var(--clr-foreground);
  }
  .nav__items {
    margin-top: 1rem;
    align-items: center;
    line-height: 2.3rem;
    list-style: none;
  }
  .open_close_menu__container {
    display: block;
  }
}




@media screen and (min-width: 769px) {
  .mobile-only {
    display: none !important;
  }

}

